<launch>
  <arg name="image_path" default="$(find jiwon_mission)/include/test2.jpg" />

  <node pkg="jiwon_mission"
        type="stopline_contour_imagetest"
        name="stopline_contour_imagetest"
        output="screen">

    <param name="image_path" value="$(arg image_path)" />

    <param name="crosswalk_ratio_threshold" value="0.1" />

    <!-- 정지 시간 [sec] -->
    <param name="stop_duration" value="6.0" />

  </node>
</launch>
